<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="component"
		label="COM_LENDR_OPTIONS"
		description="COM_LENDR_OPTIONS_DESC"
	>

		<field name="required_account" type="radio"
			default="0"
			class="btn-group"
			label="COM_LENDR_REQUIRED_ACCOUNT"
			description="COM_LENDR_REQUIRED_ACCOUNT_DESC">
			
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="new_reviews" type="radio"
			default="1"
			class="btn-group"
			label="COM_LENDR_ALLOW_NEW_REVIEWS"
			description="COM_LENDR_ALLOW_NEW_REVIEWS_DESC">
			
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="new_wishlists" type="radio"
			default="1"
			class="btn-group"
			label="COM_LENDR_ALLOW_NEW_WISHLISTS"
			description="COM_LENDR_ALLOW_NEW_WISHLISTS_DESC">
			
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="new_waitlists" type="radio"
			default="1"
			class="btn-group"
			label="COM_LENDR_ALLOW_NEW_WAITLISTS"
			description="COM_LENDR_ALLOW_NEW_WAITLISTS_DESC">
			
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

	</fieldset>

	<fieldset name="permissions"
		description="JCONFIG_PERMISSIONS_DESC"
		label="JCONFIG_PERMISSIONS_LABEL"
	>

		<field name="rules" type="rules"
			component="com_lendr"
			filter="rules"
			validate="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			section="component" />
	</fieldset>
</config>
